# Ignore build outputs and dependencies
node_modules/
build/

# React
frontend/node_modules/
frontend/build/

# ASP.NET Core
backend/bin/
backend/obj/
backend/*.user
backend/*.suo

# VS settings
.vscode/
*.user
*.sln.docstates
